$font-desc: Georgia, "Times New Roman", Times, serif;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  color: #282c34;
}

.container {
  text-align: center;
}

.logo {
  height: 45vmin;
  margin-top: 10vmin;
}

.content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}

.contact-content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  // background-color: #09d3ac;
}

.description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc-text {
  margin-bottom: 1.5em;
}

.title {
  font-size: calc(10px + 2vmin);
  letter-spacing: 0.1em;
  color: #282c34;
}

.link {
  color: #09d3ac;
}

/* Navigation Bar */
.nav {
  grid-template-areas: "nav-links";
  // border-bottom-style: solid;
  // border-bottom-color: #707070;
  // border-bottom-width: 1px;
  transition: 1s;
  display: grid;
  height: 40px;
  z-index: 100;
  width: 100%;
  // padding-bottom: 20px;
  margin-top: 20px;

}

.nav_links {
  grid-area: nav-links;
  grid-template-areas: "home thing thing thing thing thing projects experience contact . ";
  justify-content: space-between;
  padding-top: 0.5rem;
  text-align: center;
  display: grid;
  z-index: 1;
  width: 100%;
}
.thing {
  grid-area: thing;
  z-index: 1;
}

a {
  &:link,
  &:visited {
    color: rgb(77, 66, 231);
    text-decoration: none;
  }
  &:hover {
    color: rgb(161, 91, 201);
    border-bottom-width: 2px;
  }
}

@mixin navlink {
  // padding-top:100px;
  &:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(161, 91, 201);
    transition: 0.2s;
    color: rgb(161, 91, 201);
    border-bottom-width: 2px;
  }
  &:link,
  &:visited {
    text-decoration: none;
    color: black;
  }
}

.navlink-style {
  @include navlink;
  margin-top: 0.3rem;
}

.navlink-style-home {
  @include navlink;
  margin-left: 2rem;
  margin-right: 2rem;
}

@mixin nav-elems {
  // padding-bottom: 1rem;
  text-align: center;
  z-index: 1;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0);
  border-bottom-width: 2px;
  // padding-top: 1rem;
  // margin: 2px 0;
  margin: 0;
}

.home {
  @include nav-elems;
  grid-area: home;
  justify-self: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.projects {
  @include nav-elems;
  grid-area: projects;
}
.experience {
  @include nav-elems;
  grid-area: experience;
}
.contact {
  @include nav-elems;
  grid-area: contact;
}

.active {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  margin-bottom: 0rem;
}

/* Smaller devices */
@media (max-width: 500px) {
  .nav {
    width: 100%;
    transition: 1s;
    display: grid;
    grid-template-areas: "nav-links";
    border-bottom-style: solid;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
  }

  .nav_links {
    grid-area: nav-links;
    width: 100%;
    color: white;
    grid-template-areas: "home projects experience contact ";
    justify-content: space-between;
    text-align: right;
    padding-top: 1rem;
  }

  .thing {
    grid-area: thing;
  }
}

.scrolling {
  position: fixed;
  // background-color: rgba(255, 255, 255, 0.99);
  // background-color: red;
}

.description {
  max-width: 55vmin;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #282c34;
  font-family: $font-desc;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.footer {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  letter-spacing: 0.05em;
}
