html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  text-align: center;
}

.logo {
  height: 45vmin;
  margin-top: 10vmin;
}

.content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}

.description-container {
  display: flex;
  justify-content: center; 
  /* background-color: thistle; */
  flex-direction: column;
}

.desc-text { margin-bottom: 1.5em }

.title {
  font-size: calc(10px + 2vmin);
  color: #282c34;
  letter-spacing: 0.1em;
}

.link {
  color: #09d3ac;
}

/* Navigation Bar */
.nav {
  transition: 1s;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  border-bottom-width: 1px;
	display: grid;
	grid-template-areas: "nav-links";
	width: 100%;	
}

.nav_links {
  grid-area: nav-links;
  display: grid;
	grid-template-areas: "home thing thing thing thing thing 																																																																						projects experience contact . ";
	justify-content: space-between;
  text-align: center;
	z-index: 1;
	width: 100%;
	padding-top: 0.5rem;

}
.thing {
	grid-area: thing;
	z-index: 1;
}


a:link, a:visited {
	color: rgb(77, 66, 231);
	text-decoration: none;
}

a:hover {
	color:  rgb(161, 91, 201);
	border-bottom-width: 4px;
}

.nav_links a:hover {
	border-bottom-style: solid;
	border-bottom-color: rgb(161, 91, 201);
	transition: 0.2s;
	color:  rgb(161, 91, 201);
	border-bottom-width: 4px;
}

.nav_links a:link, .nav_links a:visited {
	text-decoration: none;
  color: black;
}

.projects {grid-area: projects;}
.experience {grid-area: experience;}
.contact {grid-area: contact;}

.home, .projects, .experience, .contact { 
  padding-bottom: 1rem;
	text-align: center;
	z-index: 1;
	border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0);
	border-bottom-width: 4px;
	padding-top: 1rem;

}

.home {
  padding-bottom: 0.55rem;
  padding-top: 0.5rem;
	grid-area: home;
	margin-left: 2rem;
	margin-right: 2rem;
	font-weight: bold;
	font-size: 1.3rem;
}

.active {
	border-bottom-style: solid;
  border-bottom-color: black;
	border-bottom-width: 4px;
	margin-bottom: 0rem;
}

@media (max-width:500px){
  .nav {
    width: 100%;
    transition: 1s;
    display: grid;
    grid-template-areas: "nav-links";
    border-bottom-style: solid;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
  }

  .nav_links {
    grid-area: nav-links;
    width: 100%;
		color: white;
		grid-template-areas: "home projects experience contact ";
		justify-content: space-between;
    /* background-color: blue; */
    text-align: right;
    padding-top: 1rem;
	}
	
	.thing {
		grid-area: thing;
	}
}

.scrolling {
  position: fixed;
	background-color: rgba(255,255,255,0.99);
}

.description {
  max-width: 55vmin;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.footer {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  letter-spacing: 0.05em;
}

body { 
  height: 100vh;
  color: #282c34;
  }